<html>
    <head>
        <Title>Check Results</Title>
        <link rel="stylesheet"
        href="/libs/bootstrap.min.css">
      <script type="text/javascript"
        src="/libs/bootstrap.min.js"></script>
        
          <link rel="stylesheet" href="../libs/bootstrap.css">
          <link rel="stylesheet" href="../stylesheets/stylesheet.css">
          <link rel="stylesheet" href="../libs/dataTables.bootstrap4.min.css">
        
          <script src="../libs/jquery.min.js"></script>
          <script src="../libs/jquery.dataTables.min.js"></script>
          <script src="../libs/dataTables.bootstrap4.min.js"></script>
          <script src="../libs/bootstrap.bundle.js"></script>
     </head>    
    <body>
        <%- include("partials/studentPageNav") -%>
        <div class = "justify-content-end">
            <p>Position : </p>
        </div>
        
    </body>
</html>