<html>
    <head>
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
          <script type="text/javascript" src="/libs/bootstrap.min.js"></script>
        
          <link rel="stylesheet" href="../libs/bootstrap.css">
          <link rel="stylesheet" href="../libs/dataTables.bootstrap4.min.css">
        
          <script src="../libs/jquery.min.js"></script>
          <script src="../libs/jquery.dataTables.min.js"></script>
          <script src="../libs/dataTables.bootstrap4.min.js"></script>
          <script src="../libs/bootstrap.bundle.js"></script>
    </head>
    <body>
        <h1 class = "text-center mt-5 mb-3">Forgot password</h1>
        <div class="Container w-25">
            <%- include("partials/messages") -%>
        <form action = "/forgot" method="POST">
          <div class="form-group px-0">
              <input type="email" name="email" class="form-control" placeholder="Enter your email address here">
          </div>    
              <button type = "submit" class="btn btn-success btm-block">Send</button>
        </form>
        <a class="float-right" href="/employee/login">Back to login page</a>
    </div>
    </body>
</html>