<%- include("partials/headerstu") -%>

        <form action = '/studentEdit/<%= student.id %>?_method=PUT' method = 'POST'>
            
            <div class = "container justify-content-center">

              <h1>Update Student Data</h1>
            </br>
            </br>
              <input type = "hidden" name = "_method" value="PUT">
              <input type="text" class="form-control" value = "<% student.name %>" name="name" placeholder="Student's Name">
            </br>
              <input type="text" class="form-control" value = "<% student.studentId %>" name="studentId" placeholder="Student's ID">
            </br>
              <input type="text" class="form-control" value = "<% student.age %>" name="age" placeholder="Student's Age">
            </br>
            <select name = "class" class="form-control">
              <option selected>Choose class...</option>
              <option>Nursery</option>
              <option>Kindergatern One</option>
              <option>Kindergatern Two</option>
              <option>Class One</option>
              <option>Class Two</option>
              <option>Class Three</option>
              <option>Class Four</option>
              <option>Class Five</option>
              <option>Class Six</option>
              <option>Form one</option>
              <option>Form Two</option>
              <option>Form Three</option>
            </select>
            </br>
            <select name = "gender" class="form-control">
              <option selected>Choose Gender...</option>
              <option>Male</option>
              <option>Female</option>
            </select>
            </br>
                <button type = "submit" class = "btn btn-success">Update Student</button>
            </div>
          </form>

      <%- include("partials/footer") -%>