<html>
    <head>
           <title>Student's Page</title>
           <link rel="stylesheet"
    href="/libs/bootstrap.min.css">
  <script type="text/javascript"
    src="/libs/bootstrap.min.js"></script>
       
         <link rel="stylesheet" href="../libs/bootstrap.css">
         <link rel="stylesheet" href="../stylesheets/stylesheet.css">
         <link rel="stylesheet" href="../libs/dataTables.bootstrap4.min.css">
       
         <script src="../libs/jquery.min.js"></script>
         <script src="../libs/jquery.dataTables.min.js"></script>
         <script src="../libs/dataTables.bootstrap4.min.js"></script>
         <script src="../libs/bootstrap.bundle.js"></script>
    </head>    

    <body>
        <%- include("partials/studentPageNav") -%>
        <h3 class = "heading text-danger text-center"><u>Student Info</u></h3>
          </br>
          <div class="badge badge-primary text-wrap" style = "width : 3rem;">
                <p>Name </div> : Micheal</p>
          <div class="badge badge-primary text-wrap" style = "width : 3rem;">
                <p>Student ID </div> : 32434343</p>
                <div class="badge badge-primary text-wrap" style = "width : 3rem;">    
                <p>Age </div> : 12</p>
          <div class="badge badge-primary text-wrap" style = "width : 3rem;">
                <p>Class </div> : 6</p>
      
           
        
        </div>
    </body>
</html>